body {
	margin: 0;
	padding: 0;
}

.frames {
	background-color: black;
	height: 683px;
	width: 1276px;
}

.frames > .frame {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.frames > .frame.animated {
	/*-webkit-animation: fade .1s infinite;
	animation: fade .1s infinite;*/
	-webkit-animation: fade .1s .1s infinite;
	animation: fade .1s .1s infinite;
}

@keyframes fade {
  from {
  	opacity: 1;
  }
  
  to {
  	opacity: 1;
  }
}

@-webkit-keyframes fades {
    0%{
      opacity: 1;
   }
   15% {
      opacity:1;
   }
   25%{
      opacity: 0;
   }
   90% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}